<h1>Topping: <%= @topping.name %></h1>

<p>
  <%= link_to "Edit", edit_admin_topping_path(@topping), class: "btn btn-primary" %>
  <%= link_to "Back", admin_toppings_path, class: "btn btn-link" %>
</p>
