<%= render 'shared/index_header', title: 'Fillings', new_path: new_admin_filling_path %>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @fillings.each do |f| %>
      <tr>
        <td><%= link_to f.name, admin_filling_path(f) %></td>
        <%= render 'shared/action_buttons', edit_path: edit_admin_filling_path(f), delete_path: admin_filling_path(f) %>
      </tr>
    <% end %>
  </tbody>
</table>
