<h1>Tortilla: <%= @tortilla.name %></h1>

<p>
  <%= link_to "Edit", edit_admin_tortilla_path(@tortilla), class: "btn btn-primary" %>
  <%= link_to "Back", admin_tortillas_path, class: "btn btn-link" %>
</p>
